* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SVN-Poppins', sans-serif;
}

.service-page-header {
text-align: center;
background-image:url('../images/banner-3.jpg');
background-size:cover;
height: 400px;
display:flex;
flex-direction: column;
justify-content: center;
color:white;
}

.link {
    text-decoration: none;
    color:white;
}

.service-card {
    display:grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 60px 200px;
}

.content-service-card-name {
    margin-top: 5px;
    font-weight: bold;
}

.content-service-card-title {
    margin-top: 5px;
    color:#89a831;
    font-weight: bold;
    font-size: 20px;
}

.content-service-card-description {
    color: #848383;
    margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.content-service-card-schedule {
    margin-top: 10px;
}

.button-call {
color:#ffffff; /*màu chữ*/
background-color: #8AA831;
    /*màu nút*/
    text-decoration: none;
    /*bỏ underline*/
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 16px;
    display: block;
    width: fit-content;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    line-height: 1;
}

.button-call:hover{
  background-color: #F57C00;
}

.content-service-card-item {
    background-color:  #f2fae9;
    border-radius: 12px;
    overflow:hidden;
    padding-bottom: 10px;
}

.content-service-card-item-info {
    padding: 12px 20px;
}